@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  position: relative;
  height: 120px;
  background-color: $color-primary;
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gap;
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &-input {
    min-height: 60px;
    min-width: 420px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 39px;
    color: $color-light;
    font-weight: 400;
    font-family: $font-main;
    padding-left: 30px;
    vertical-align: middle;
    background-color: $color-light;
  }

  &-btn {
    min-height: 60px;
    min-width: 420px;
    transition: background-color 0.5s, border-color 0.5s;
    font-size: 18px;
    letter-spacing: 2px;
    color: $color-light;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background-color: $color-gray;
    opacity: 0.3;
    border: none;


    &:focus, :hover {
      background-color: $color-accent;
      color: $color-light;
      border: 2px solid $color-light;
    }
  }
}


.delite {
  position: relative;
  height: 100vh;
}