@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 82px;


  &__container {
    display: grid;
    grid-template-columns: 1fr 271px;
    gap: 100px;
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__content {
    max-width: 929px;
    position: relative;

    h2 {
      font-size: 40px;
      font-family: $font-header;
      font-weight: 700;
      letter-spacing: 4px;
      line-height: 48px;
      color: $color-primary;
      margin-bottom: 43px;
      margin-top: 0;
    }

    p {
      margin-top: 18px;
      line-height: 1.15;
      color: $color-gray;
      font-weight: 400;
      font-family: $font-main;
      font-size: 18px;
      letter-spacing: 0.0489em;
    }

  }

  &__content::after {
    position: absolute;
    top: 139px;
    right: -50px;
    width: 2px;
    height: 200px;
    content: "";
    background-color: rgba(99, 117, 136, 0.1);
  }

  &__image {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 271px;
    max-height: 491px;

    img {
      max-width: 266.55px;
      max-height: 480px;
    }
  }
}
